.page {
  padding: 100px 0;


  &__section {
    background-color: #fafafa;
  }
  &__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;

    outline: 1px dashed darkgray;
  }
}

@media screen and (max-width: 1199px ){
  .page {

    &__container {
      max-width: 768px;
    }
  }
}

@media screen and (max-width: 767px ){
  .page {

    &__container {
      max-width: 375px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
