// .swiper {
// }

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: rgba(17, 17, 17, 0.5);
}

.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;

  background: #fd9222;

  border-radius: 7px;
}

.swiper-pagination {
    position: unset;
    margin-top: 31px;
}
